.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .form{
    max-width:100%;
  }
  .form  input{
    max-width: 100%;
  }
  .btn {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-color: black;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .btn div{
    display:flex;
    flex-direction: row;
    max-width:100%;
    margin: 0px 10px;
  }
  .btn div:last-child{
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .btn .button-number {
    padding: 8px 30px;
    width: 22%;
    margin: 3px;
    color: white;
  }
  .btn .button-reset{
    width: 70%;
  }
  .btn .button-total{
    width: 30%;
  }
  